.Drawer {
   $p: &;
   position: fixed;
   z-index: $zIndexDrawer;
   top: 0;

   
   height: 100%;

   padding: rem(26);

   background-color: $purpleColor500;

   @media (max-width: $breakpoint-xs) {
      width: 100%;
   }

   @media (min-width: $breakpoint-xs) {
      width: min(100%, rem(320));
   }
}