.Select {
   &__dropdown {
      z-index: $zIndexSelect;
   }

   &__arrow {
      width: em(10);
      height: em(18);

      transform: rotate(270deg);
      fill: $purpleColor300;

      &_open {
         transform: rotate(90deg);
      }
   }
}