.UserDropDownItem {
   $p: &;

   transition: font-size $transitionEase300;

   font-size: rem(16);

   &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      width: 100%;

      padding: em(5) em(15);

      transition: color $transitionEase300, background $transitionEase300;
      text-align: start;

      border-radius: em(10);
      column-gap: em(15);

      &:hover {
         color: $whiteColor;
         background: $purpleColor200;

         #{$p} {
            &__arrowIcon {
               animation: arrow 0.5s linear infinite alternate;
            }
         }
      }

   }
   
   &__icon {
      flex: 0 0 auto;

      width: em(50);
      height: em(50);
   }

   &__name {
      flex: 1 1 auto;

      font-size: em(20);
      font-weight: 300;
   }

   &__arrowIcon {
      flex: 0 0 auto;

      width: em(10);
      height: em(18);

      transform: translateX(0) rotate(180deg);

      font-size: rem(10);

      fill: currentColor;
   }
}



@keyframes arrow {
   0% {
      transform: translateX(0) rotate(180deg);
   }
   100% {
      transform: translateX(rem(2)) rotate(180deg);
   }
}