.UserDropDown {
   $p: &;

   position: relative;

   &__button {
      width: rem(36);
      height: rem(36);

      border-radius: 50%;

      background-color: gray;

      &:hover {
         opacity: 0.8;
      }
   }

   &__image {

   }

   &__list {
      position: absolute;

      top: calc(100% + rem(10));
      right: 0;

      display: flex;

      overflow: hidden;
      flex-direction: column;
   
      padding: rem(5);

      transition: opacity $transitionEase300;
      pointer-events: none;

      opacity: 0;
   
      border-radius: rem(15);
   
      background: $whiteColor;
   
      box-shadow: 0 0 rem(40.4) rem(-2) rgba(63, 64, 155, 0.39);
      row-gap: rem(5);
      
      &_open {
         pointer-events: all;

         opacity: 1;
      }
   }

   &__item {

   }
}
