.Container {
   transition: padding $transitionEase300;

	&_default {
      box-sizing: content-box;
      max-width: rem($maxWidthContainer);
      margin: 0 auto;
      padding: 0 var(--container-padding);
   }

   &_app {
      box-sizing: content-box;
      max-width: rem($maxWidthContainer);
      margin: 0 auto;
      padding: var(--container-padding);
   }

   &_auth {
      box-sizing: content-box;
      max-width: rem($authWidthContainer);
      margin: 0 auto;
      padding: 0 var(--container-padding);
   }
}