.Scrollbar {
   position: absolute;
   top: 50%;
   right: 0;

   width: rem(12);
   height: 50%;

   cursor: pointer;
   user-select: none;
   transition: opacity $transitionEase300;
   transform: translateY(-50%);

   opacity: 0;

   &_visible {
      opacity: 1;
   }

   &:before {
      position: absolute;
      top: 0;
      left: 50%;

      display: block;

      width: rem(3);
      height: 100%;

      content: "";
      transform: translateX(-50%);

      border-radius: rem(3);

      background: $purpleColor300;
   }

   &__this {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      width: 100%;
      height: rem(50); // js - scrollHeight - clientHeight

      border-radius: rem(5);

      background: $purpleColor500;

      &:hover {
         cursor: pointer;

         background: $purpleColor300;
      }
   }
}