//* Vars
$layoutColor: #fff;

$whiteColor: #fff;
$redColor: #f93939;

$purpleColor500: #3F409B;
$purpleColor300: #6262AD;
$purpleColor200: #9a9ac9;

$loaderColor: $purpleColor300;

$transitionEase300: 0.3s ease;
$transitionEase200: 0.2s ease;

$zIndexOverlay: 400;
$zIndexDrawer: 500;
$zIndexButtons: 600;
$zIndexModal: 700;
$zIndexSelect: 800;
$zIndexCalendar: 800;

//** Fonts by default:
$fontFamily: "Rubik"; //? name
$fontSize: 16; //? size
$fontColor: $purpleColor500; //? color

$minWidth: 320; //? min width of layout
$containerPadding: 30; //? padding for container
$maxWidthContainer: 1400; //? width container
$authWidthContainer: 660; //? width container


//** Break-points:
$pc: $containerPadding * 2 + $maxWidthContainer;
$tablet: 991.98;
$mobile: 767.98;
$smallMobile: 479.98;
