//* Vars
$layoutColor: #fff;

$whiteColor: #fff;
$redColor: #f93939;

$purpleColor500: #3F409B;
$purpleColor300: #6262AD;
$purpleColor200: #9a9ac9;

$loaderColor: $purpleColor300;

$transitionEase300: 0.3s ease;
$transitionEase200: 0.2s ease;

$zIndexOverlay: 400;
$zIndexDrawer: 500;
$zIndexAvatarPopover: 600;
$zIndexButtons: 600;
$zIndexModal: 700;
$zIndexSelect: 800;
$zIndexCalendar: 800;

$minWidth: 320; //? min width of layout
$containerPadding: 30; //? padding for container
$maxWidthContainer: 1400; //? width container
$authWidthContainer: 660; //? width container

//** Break-points:
$breakpoint-container: $containerPadding * 2 + $maxWidthContainer;
$breakpoint-xs: em(480);
$breakpoint-sm: em(768);
$breakpoint-md: em(992);
$breakpoint-lg: em(1200);
$breakpoint-xl: em(1440);